@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Horizon";
  src: local("Horizon"), url("./fonts/horizonn.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "FamiljenGrotesk";
  src: local("FamiljenGrotesk"), url("./fonts/FamiljenGrotesk-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "FamiljenGrotesk";
  src: local("FamiljenGrotesk"), url("./fonts/FamiljenGrotesk-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

.bgc {
  background-color: #ed682e;
}
.aboutUs::before {
  content: url(./images/HeroLine_Mobile_Dark.svg);
  position: absolute;
  display: block;
  width: 100%;
  top: -0.625rem;
  left: -0.625rem;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .aboutUs::before {
    content: url(./images/HeroLine_Desktop_Dark.svg);
  }
}
.hero_image::before {
  content: url(./images/HeroLine_Mobile.svg);
  position: absolute;
  display: block;
  top: -12px;
  left: -15px;
}
@media screen and (min-width: 768px) {
  .hero_image::before {
    content: url(./images/HeroLine_Desktop.svg);
    left: -16px;
    top: unset;
  }
}
footer::before {
  content: url(./images/FooterLine_Desktop.svg);
  position: absolute;
  display: block;
  width: 100%;
  top: -0.625rem;
  left: -0.625rem;
  z-index: 1;
}

.galleryHorizontal::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  height: 50rem;
  background-color: #ed682e;
  overflow: hidden;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@media screen and (min-width: 2300px) {
  html {
    font-size: 25px;
  }
  .aboutUs::before {
    transform-origin: left;
    transform: scaleX(1.5);
  }
  footer::before {
    transform-origin: left;
    transform: scaleX(1.5);
  }
}
@media screen and (min-width: 3300px) {
  html {
    font-size: 35px;
  }
  .aboutUs::before {
    transform: scaleX(2);
  }
  footer::before {
    transform: scaleX(2);
  }
}
