@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Horizon";
  src: local("Horizon"), url("./fonts/horizonn.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "FamiljenGrotesk";
  src: local("FamiljenGrotesk"), url("./fonts/FamiljenGrotesk-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "FamiljenGrotesk";
  src: local("FamiljenGrotesk"), url("./fonts/FamiljenGrotesk-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

.bgc,
.wrapper {
  background-color: #ed682b;
}
.aboutUs::before {
  content: url(./images/HeroLine_Mobile_Dark.svg);
  position: absolute;
  display: block;
  width: 100%;
  top: -10px;
  left: -10px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .aboutUs::before {
    content: url(./images/HeroLine_Desktop_Dark.svg);
  }
}
.hero_image::before {
  content: url(./images/HeroLine_Mobile.svg);
  position: absolute;
  display: block;
  top: -12px;
  left: -15px;
}
@media screen and (min-width: 768px) {
  .hero_image::before {
    content: url(./images/HeroLine_Desktop.svg);
    left: -16px;
    top: unset;
  }
}
